@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

@font-face {
	font-family: 'RedRing';
	src: url(/assets/fonts/RedRing-Medium.otf);
	font-style: normal;
}

@layer base {
	.logo {
		font-family: RedRing, sans-serif;
		font-weight: 500;
	}

	body {
		@apply bg-[#ecf0f3] text-[#1f2937] tracking-wide dark:bg-gray-800 dark:text-[#ecf0f3];
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-bold text-gray-700 dark:text-[#ecf0f3];
	}

	h1 {
		@apply text-4xl sm:text-5xl md:text-6xl;
	}

	h2 {
		@apply text-2xl sm:text-4xl;
	}

	p {
		@apply text-gray-600 dark:text-white;
	}

	li {
		@apply cursor-pointer;
	}

	button {
		@apply shadow-xl shadow-gray-400 dark:shadow-gray-900 rounded-xl uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff] text-white;
	}
}

@layer components {
	.nav {
		@apply bg-[#ecf0f3] dark:bg-gray-800 shadow-gray-400 dark:shadow-gray-900 text-[#1f2937] dark:text-[#ecf0f3] fixed top-0 w-full h-20 z-[100];
	}

	.nav-mobile {
		@apply fixed h-screen p-10 ease-in duration-500;
	}

	.btn {
		@apply shadow-xl shadow-gray-400 dark:shadow-gray-900 rounded-xl uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff] text-white;
	}

	.btn-round {
		@apply bg-[#ecf0f3] dark:bg-gray-700 shadow-lg shadow-gray-400 dark:shadow-gray-900 tracking-wide cursor-pointer rounded-full;
	}

	.hover-grow {
		@apply hover:scale-110 ease-in duration-300;
	}

	.card {
		@apply bg-[#ecf0f3] dark:bg-gray-800 shadow-xl shadow-gray-400 dark:shadow-gray-900 rounded-xl w-full h-full p-4;
	}
}

@layer utilities {
	.text--purple {
		@apply text-[#5651e5] dark:text-[#a777ff];
	}

	.sr-only {
		border: 0;
		padding: 0;
		margin: 0;
		position: absolute !important;
		height: 1px;
		width: 1px;
		overflow: hidden;
		clip: rect(
			1px 1px 1px 1px
		); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
		clip: rect(1px, 1px, 1px, 1px); /*maybe deprecated but we need to support legacy browsers */
		clip-path: inset(50%); /*modern browsers, clip-path works inwards from each corner*/
		white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	}

	/* Tooltip container */
	.tooltip {
		position: relative;
		display: inline-block;
	}

	/* Tooltip text */
	.tooltip .tooltiptext {
		visibility: hidden;
		width: 120px;
		background-color: black;
		color: #fff;
		text-align: center;
		padding: 4px 0;
		border-radius: 6px;
		font-size: 13px;

		/* Position the tooltip text */
		position: absolute;
		z-index: 1;
		bottom: 90%;
		left: 50%;
		margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
	}

	/* Show the tooltip text when you mouse over the tooltip container */
	.tooltip:hover .tooltiptext {
		visibility: visible;
	}

	.tooltip .tooltiptext::after {
		content: ' ';
		position: absolute;
		top: 100%; /* At the bottom of the tooltip */
		left: 50%;
		margin-left: -5px;
		border-width: 5px;
		border-style: solid;
		border-color: black transparent transparent transparent;
	}
}
